.main {
  align-items: center;
}

.container__inner {
  width: 550px;
  padding: 1em;
  border-radius: 8px 8px 0 8px;
  border: 3px solid #ecf0f9;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  border-bottom: none;
}

.container__inner__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.inner__dataContainer__content {
  font-size: 18px;
}

.inner__dataContainer__title,
.container__commentToComment {
  font-size: 14px;
  max-width: 500px;
  text-align: justify;
  margin-top: 0;
  line-height: 25px;
}

.container__commentToComment {
  margin-left: auto;
  padding: 0 1em;
  max-width: none;
  width: 465px;
  border: 3px solid #4a73ab;
  background-color: #fff8f8;
  border-radius: 0 0 8px 8px;
  margin-bottom: 0;
  border-top: none;
}

@media (max-width: 768px) {
  .container__inner {
    width: 100%;
  }

  .container__commentToComment {
    width: 100%;
    max-width: 465px;
  }

  .main {
    align-items: start;
  }

  .container {
    width: 100% !important;
    max-width: 550px;
    margin-inline: auto;
  }
}
